@import url('https://fonts.googleapis.com/css?family=Poppins:sans-serif');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../resources/BG_Inicio.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #2c3e50;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #2c3e50;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #2c3e50;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a.perfil::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.wrapper {
    position: relative;
    width: 400px; 
    height: auto; 
    min-height: 400px; 
    background: transparent;
    border: 2px solid #2c3e50;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    transition: transform .5s ease, height .2s ease;
    margin: 100px auto 20px auto;
}

.form-columns {
    display: flex;
    flex-direction: column; 
    gap: 20px;
    width: 100%; 
}

.form-columns .input-box {
    width: 100%; 
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 2em;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px; 
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #2c3e50;
    margin: 15px 0; 
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #2c3e50;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #2c3e50;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #2c3e50;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #b2c8a4;
    font-weight: 500;
    margin-top: 30px; 
}

.form-box.perfil {
    height: auto;
    overflow-y: auto;
}


@media screen and (max-width: 992px) {
    header {
        padding: 20px 50px;
    }
    
    .logo {
        font-size: 1.5em;
    }
    
    .navigation a {
        font-size: 1em;
        margin-left: 20px;
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        width: 90%; 
        margin: 80px auto 10px auto;
    }
    
    .wrapper .form-box {
        padding: 20px;
    }
    
    header {
        padding: 15px 20px;
    }
    
    .logo {
        font-size: 1.2em;
    }
    
    .navigation a {
        font-size: 0.9em;
        margin-left: 15px;
    }
    
    .form-box h2 {
        font-size: 1.5em;
    }
    
    .input-box {
        margin: 15px 0;
    }
}